.App {
  padding: '10px 10px 10px 10px';
  background-color: #f4f7fa;
  min-height: 100vh;
  min-width: 100vw;
}

.App-container {
  padding: '10px 10px 10px 10px';
  min-width: 90vw;
}

.analytics-col {
  margin-bottom: 20px;
}

.analytics-row {
  margin-top: 20px;
}
.nav {
  margin: 15px;
}

.graph-card-header {
  background-color: #ffffff;
}

.form-card {
  border-radius: 10px;
}

.form-card-header {
  height: 40px;
  background: rgb(9, 46, 60);
  background: linear-gradient(
    90deg,
    rgba(9, 46, 60, 1) 38%,
    rgba(16, 65, 89, 1) 74%,
    rgba(23, 83, 117, 1) 100%
  );
}

.form-title {
  font-size: 20px;
  color: #ffffff;
}
